body {
  margin: 0;
  padding: 0;
}
.wrapper1,
header,
.wrapper2 {
  margin-right: auto;
  margin-left: auto;
  width: 1920px;
}
.wrapper1,
.wrapper2 {
  margin-top: 60px;
  float: left;
  display: flex;
  width: 1230px;
  margin-left: 100px;
}
.wrapper2 {
  margin-top: 0px;
  width: 1080px;
  margin-left: 150px;
}
header,
.header1,
.header2,
footer {
  width: 941px;
  height: 100px;
  display: flex;
}
.header1,
.header2,
.center {
  background-color: #dddddd;
  width: 300px;
  border-radius: 0px 0px 5px 5px;
}
.header2 {
  width: 621px;
  margin-left: 19px;
}
.title,
.title2 {
  margin-top: 39px;
  width: 245px;
  height: 18px;
  top: 29px;
  margin-left: 80px;
  font-size: 15px;
  font-family: "HelveticaNeue";
  color: #fff;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.center {
  margin: 0px auto;
  width: 941px;
  border-radius: 5px 5px 0px 0px;
}
.title2 {
  top: 42px;
  left: 81px;
}
img {
  height: 200px;
  border-radius: 5px;
  margin: 0px 5px 10px 0px;
}
.btn,
.btn1 {
  position: absolute;
  margin-top: 270px;
  margin-left: 1050px;
}
.btn1 {
  margin-top: 340px;
}
#button1,
#button2 {
  width: 60px;
  height: 60px;
  background: url("slike/arrow-gray-right.png") no-repeat;
  background-position: center;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 5px;
}
#button2 {
  background: url("slike/arrow-gray-left.png") no-repeat;
  background-position: center;
}
#button1:hover,
#button2:hover {
  background: url("slike/arrow-blue-right.png") no-repeat;
  background-position: center;
  border-color: blue;
}

#button2:hover {
  background: url("slike/arrow-blue-left.png") no-repeat;
  background-position: center;
}
h1,
.description {
  margin-left: 1180px;
  margin-top: 160px;
  position: absolute;
  width: 300.93px;
  height: 120px;
  left: 0px;
  top: 0px;
  font-family: SourceSansPro;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.2px;
  color: #134880;
}
.description {
  position: absolute;
  margin-top: 160px;
  height: 156px;
  top: 140px;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #484a4c;
}
