$arrow1:url("slike/arrow-gray-right.png") no-repeat
$arrow2:url("slike/arrow-gray-left.png") no-repeat
$arrow3:url("slike/arrow-blue-right.png") no-repeat
$arrow4:url("slike/arrow-blue-left.png") no-repeat
$font:SourceSansPro
$back-col:#dddddd
$border-line:1px solid #dddddd
$blue:blue
$center:center
$flex:flex
$column:column
$row:row
$left:left
$border-box:border-box
$top-page:0px auto
$width-height:60px
$border-radius:5px
body
  margin: 0
  padding: 0

footer
  width: 941px
  height: 100px
  display: $flex

header
  margin: $top-page
  display: $flex
  height: 100px
  width: 941px

.header1, .header2, .center
  background-color: $back-col
  width: 300px
  border-radius: 0px 0px 5px 5px

.header1
  height: 100px

.header2
  width: 621px
  margin-left: 19px
  height: 100px

.title, .title2
  margin-top: 39px
  width: 245px
  height: 18px
  top: 29px
  margin-left: 80px
  font-size: 15px
  font-family: "HelveticaNeue"
  color: #fff

footer
  position: absolute
  bottom: 0
  width: 100%

.center
  margin: $top-page
  width: 941px
  border-radius: 5px 5px 0px 0px

.title2
  top: 42px
  left: 81px

img
  height: 200px
  border-radius: $border-radius
  margin: 0px 5px 10px 0px

#button1
  width: $width-height
  height: $width-height
  background: $arrow1
  background-position: $center
  border: $border-line
  box-sizing: $border-box
  border-radius: $border-radius

#button2
  width: $width-height
  height: $width-height
  background: $arrow1
  background-position: $center
  border: $border-line
  box-sizing: $border-box
  border-radius: $border-radius
  background: $arrow2
  background-position: $center

#button1:hover
  background: $arrow3
  background-position: $center
  border-color: $blue

#button2:hover
  background: $arrow3
  background-position: $center
  border-color: $blue
  background: $arrow4
  background-position: $center

h1
  width: 300.93px
  height: 120px
  font-family: $font
  font-size: 32px
  line-height: 37px
  letter-spacing: -0.2px
  color: #134880

.description
  width: 300.93px
  height: 156px
  font-family: $font
  letter-spacing: -0.2px
  font-size: 18px
  line-height: 26px
  align-items: $center
  color: #484a4c

.container
  margin-top: $width-height
  display: $flex
  flex-direction: $column

.toplist
  flex-direction: $row
  width: 1000px
  float: $left
  display: $flex

.bottomlist
  float: $left
  display: $flex

.btn1
  float: right
  margin-right: 20px

.container2
  width: 1080px
  flex-direction: $row

.nested-flex
  flex-direction: $column
  margin-top: 35px

.main-container
  display: $flex

img
  -webkit-animation-name: img
  -webkit-animation-duration: 1.5s
  animation-name: img
  animation-duration: 1.5s

@-webkit-keyframes img
  from
    opacity: .4

  to
    opacity: 1

@keyframes img
  from
    opacity: .4

  to
    opacity: 1